name: CI CD Pipeline

on:
  push:
    branches: [ main ]
    
jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install scikit-learn pandas mlflow

      - name: Run tests / training
        run: |
          export MLFLOW_TRACKING_URI="file:./mlruns"
          python src/train.py

  cd:
    name: Continuous Delivery
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fake package step
        run: echo "Packaging model or app for delivery"

  deploy:
    name: Continuous-Deployment
    needs: cd
    runs-on: ubuntu-latest
    steps:
      - name: Fake deploy step
        run: echo "Deploying model / API (demo step)"
